body {
  background-color: rgba(237, 237, 186, 0.279);
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: rgb(0, 0, 0);
}
.container {
  max-width: 700px;
}
.App-header {
  margin: 60px auto 30px auto;
  font-size: 40px;
}
.Dictionary {
  border: solid 1px rgb(228, 228, 228);
  border-radius: 14px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.655);
  box-shadow: 5px 3px 5px 5px rgb(0, 0, 0, 0.2);
}

form {
  display: flex;
  justify-content: center;
}
input {
  padding: 10px 10px;
  min-width: 260px;
  border-radius: 7px;
  border: solid 1px grey;
}

.Type-example {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 14px;
}
h2 {
  color: rgb(161, 147, 53);
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 7px;
  font-size: 40px;
}

.Meaning {
  background-color: rgba(223, 214, 153, 0.259);
  border-radius: 7px;
  padding: 20px 20px;
  margin-top: 40px;
}
.Photos {
  background-color: rgba(223, 214, 153, 0.259);
  border-radius: 7px;
  padding: 20px 20px;
  margin-top: 40px;
}


.App-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 60px auto 30px auto;
  color: rgb(69, 69, 69);
}
