:root {
  --dark-brown: #291C03;
  --light-brown: #6e473b;
  --beige: #a78d78;
  --of-white: #e1d4c2;
}

body {
  background-color: var(--beige);
}
a {
  text-decoration: none;
  color:rgb(69, 69, 69);
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
font-family: 'newsreader', serif;
  color: var(--of-white);
  margin: 60px auto 30px auto;
  font-size: 70px;
}
.container {
  max-width: 1000px;
}

.Dictionary {
  border-radius: 6px;
  padding: 40px;
  background-color: #e1d4c2c1;
  box-shadow: 3px 3px 15px 4px rgb(0, 0, 0, 0.2);
  font-family: 'newsreader', serif ;
}

form {
  display: flex;
  justify-content: center;
}
input {
  padding: 10px 10px;
  min-width: 260px;
  border-radius: 7px;
  border: solid 1px grey;
}

.Type-example {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 14px;
}
h1 {
  color: var(--dark-brown);
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 7px;
  font-size: 60px;
}

.Meaning {
  
  border-radius: 7px;
  padding: 20px 20px;
  margin-top: 40px;
}
.Photos {
  background-color: rgba(223, 214, 153, 0.259);
  border-radius: 7px;
  padding: 20px 20px;
  margin-top: 40px;
}


.App-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 60px auto 30px auto;
  color: rgb(69, 69, 69);
}
